<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/controls.css"/>
    <script src="/bower_components/requirejs/require.js" data-main="/static/app" data-bootstrap-modules="['test/StudentAddModule']"></script>

    <title>学生录入</title>
    <style>
        [ng-cloak]{
            display: none;
        }

    </style>
</head>
<body ng-controller="StudentAddController">
<g-data-source

        page-size="10"
        current-page="1"
        data-params="teacherParams"
        data-source-name="teacherSource"
        page="true"
        current-page-param="currentPage"
        page-size-param="pageSize"
        records-prop="records"
        total-record-prop="totalRecord"
        allow-auto-load="true"
        dao-service="teacherDataProvider"
>
</g-data-source>


<form class="form-horizontal" name="StudentForm" >

    <table>
        <tr>
            <td>
                学生名称 :
            </td>
            <td>
                <!--唯一性校验前端需要带上主键，否则唯一性校验不生效-->
                <input type="text" name="id" ng-model="student.id" hidden/>
                <input type="text" name="name" ng-model="student.name"/>

            </td>
            <td>
                邮箱地址 :
            </td>
            <td>
                <input type="text" name="email" ng-model="student.email"/>
            </td>
        </tr>

        <tr>
            <td>
                学生年龄 :
            </td>
            <td>
                <input type="text" name="age" ng-model="student.age"/>
            </td>
            <td>
                学生生日 :
            </td>
            <td>
                <!--日期控件-->
                <g-date name="birthday" ng-model="student.birthday" formate="yyyy-MM-dd" width="120"></g-date>
            </td>
        </tr>

        <tr>
            <td>
                教师性别  :
            </td>
            <td>
                <!--下拉控件-->
                <g-dropdown placeholder="请选择" list-type="single" ng-model="student.sex" width="120">
                    <g-dropitem value="0">男</g-dropitem>
                    <g-dropitem value="1">女</g-dropitem>
                </g-dropdown>

            </td>
            <td>
                教师名称 :
            </td>
            <td>
                <input g-data-bind="teacher" value-prop="id"
                       multi="false"  ng-model="student.teacherId" hidden/>
                <!--联想控件-->
                <g-associate ng-cloak data-source-name="teacherSource"
                             multi="true"
                             value-separator='，'
                             name="teacher.teacherName"
                             ng-model="student.teacher.teacherName"
                             display-express="teacherName"
                             display-express="sex"
                             keyword-prop="keyword"
                             value-prop="teacherName"
                             selected-row="teacher"
                             width="200">
                    <g-associate-column width="60%" display-express="teacherName" >教师名称</g-associate-column>
                    <g-associate-column display-express="sex" >教师性别</g-associate-column>
                </g-associate>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" ng-click="saveStudent()" class="btn btn-default">保存</button>
            </td>
            {{teacher.student.name}}

        </tr>
    </table>
</form>
</body>
</html>